body{
  background-color: #d9cafe;
}
div{
  background-color: #b1dd8c;
}
h1{
color: red;
  font-size: 50px;
}
.PEPO{
height: 500px;
  width: 500px;
}
button{
  font-size: 30px;
}
footer{
  background-color: #00fdff;
  font-size: 25px;
}
